@using RestaurantGuide
@model Restaurant
<html>
<head>
	<style>
body,b,p{font-family:Helvetica;font-size:14px}
</style>
</head>
<body>
	<span style='font-size:28px;font-weight:bold;'>@Model.Name</span>

	<br/>
	<span style='color:#8CBF26;size:10px'><b>@Model.Cuisine.ToUpper()</b></span><br/>
	<i>@Model.Address</i><br/>
	<span style='color:#8CBF26;'><b>T</b></span> <span style='color:#cccccc;'>|</span> 
	@Model.Phone<br/>
	<span style='color:#8CBF26;'><b>W</b></span> <span style='color:#cccccc;'>|</span> 
	<br />
	<a href="@Model.Website">@Model.Website</a>
 
	<br/>@Model.Text<br/><br/>

	<div style='background-color:#8CBF26;padding:8px;'>
	<div style='size:10px'><b>HOURS</b></div>
	@Model.Hours<br/>
	<div style='size:10px;padding:10 0 0 0;'><b>CARD TYPES ACCEPTED</b></div>
	@Model.CreditCards<br/>
	<div style='size:10px;padding:10 0 0 0;'><b>CHEF</b></div>
	@Model.Chef<br/>
	</div>


</body>
</html>